 *{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("card/hotel3.jpg");
  background-repeat: no-repeat;
  background-size: 1300px 600px; /* width height */

  height: 100vh;
}

.container{
    height: 120vh;
    width: 230vh;
    margin-top: 2rem;
    /* backdrop-filter: blur(3px); 
    -webkit-backdrop-filter: blur(1px); */
    border-radius: 1rem;
    /* margin-left: 12rem; */
    /* border: 3px solid rgb(125, 45, 45); */
}


header{
    height: 10vh;
    margin-left: 4rem;
    border-bottom: 1px solid #9ad2dc;
    display: flex;
    align-items: center;
}

p{
    color:  #eeeeee;
    cursor: pointer;
    margin-left: 2rem;
    margin-bottom: 2rem;
    font-size:xx-large;
    font-weight: bolder;
}



.btn {
  padding: 12px 25px;
  background: gold;
  color: black;
  font-size: 1rem;
  border: none;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
}

.btn:hover {
  background: darkgoldenrod;
}


.box{
    height: 35px;
    width: 88px;
    color: whitesmoke;
    margin-left: 3rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    display: flex;
    font-size: larger;
    align-items: center;
    justify-content: center;
    background:  #005073;
    border: 1px solid #005073;
    cursor: pointer;
  
}

.box:hover{
   transition: width 1s ease;
   /* text-decoration: underline; */
   color: rgb(255, 255, 255) ;
      transform: scale(1.1);
   transition: 0.2s;
}

#home{
    margin-left: 10rem;
}

#registr{
    height: 40px;
    width: 95px;
    border-radius: 20px;
    margin-left: 1rem;
    color: white;
    background-color:#005073 ;
    border: 1px solid #005073;
}

#registr:hover{
    color:#005073 ;
    text-decoration: none;
      transform: scale(1);
   transition: 0.5s;
    background-color: transparent;
}

#login{
    height: 40px;
    width: 95px;
    border-radius: 20px;
    margin-left: 10rem;
     color:#005073 ;
    background:transparent;
    border: 1px solid #000000;
}

#login:hover{
    color:white;
      transform: scale(1.01);
   transition: 0.5s;
  background-color:#005073 ;
    text-decoration: none;
   
}

#written{
    height: 13vh;
    width: 80vh;
    color: rgb(0, 0, 0);
    cursor: pointer;
    margin-top: 3rem;
    margin-left: 29rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
    font-weight: bolder;
    flex-wrap: wrap;
   
}

.explore{
    height: 8vh;
    width: 30vh;
    margin-top: 2rem;
    margin-left: 34rem;
    color: white;
    display: flex;
   font-weight:lighter;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color:  #005073 ;
    border: 2px solid  #005073;
}

.explore:hover{
    background:	#189ad3;
    border:2px solid 	#189ad3;
    color:rgb(255, 255, 255) ;
     transform: scale(1.01);
   transition: 0.5s;
}
/* 
.container2{
    height: 35vh;
    width: 70vh; 
    margin-top: 3rem;
 
    display: flex;
      backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid black;
} */


.container2 p{
    color: white;
    cursor: pointer;
    margin-left: 8rem;
}



    .container2 {
      width: 100%;
      overflow: hidden;
      background: transparent;
    }

    .scrolling-wrapper {
      display: inline-block;
      white-space: nowrap;
      display: flex;
      justify-content: center;
      align-items: center;
      animation: scroll-left 25s linear infinite;
    }

    .scrolling-wrapper p {
      display: inline-block;
      margin: 0 30px;
      height: 6vh;
      margin-top: 10rem;
      width: 60vh;
     padding: 10px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #005073;
      border: 1px solid  #005073;
      font-size: 1.2rem;
      color: #ffffff;
    }

    @keyframes scroll-left {
      0% {
        transform: translateX(50%);
      }
      100% {
        transform: translateX(-50%);
      }
    }


 
    footer{
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #005073;
    font-weight: lighter;
    font-size: small;
    margin-top: 4rem;
    
    }

    .foot{
      color: whitesmoke;
      margin-top: 2rem;
      margin-left: 12rem;
      font-size:large;
    }

    #fc{
      margin-left: 5rem;
    }

    .foot:hover{
      color: rgb(255, 255, 255);
      text-decoration: underline;
      cursor: pointer;
    }
