* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-image: url("hotel3.jpg");
  background-repeat: no-repeat;
  background-size: 1300px 600px; /* width height */

}

#choose{
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
  color: #774900;
  margin-top: 20px;
  font-family: 'Arial', sans-serif;
}



.search-wrapper {
  position: relative;
  width: 300px;
  margin: 20px auto;
}

.input {
  width: 100%;
  padding: 12px 40px 12px 16px;
  border: none;
  border-radius: 10px;
  background: #007BFF;
  color: white;
  font-size: 16px;
  outline: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.search-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  pointer-events: none;
}

.room-card {
  width: 300px;
  height: 270px;
  border-radius: 15px;
  overflow: hidden;
  margin-left: 1.5rem;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  background: white;
  transition: transform 0.3s ease;
}
.room-card:hover {
  transform: translateY(-5px);
}
.room-image {
  width: 100%;
  height: 85px;
  object-fit: cover;
}
.room-info {
  padding: 15px;
}
.room-info .price {
  font-size: 1.2em;
  font-weight: bold;
 color: #774900;
}

.button {
  background: hsl(199, 78%, 45%);
  color: white;
  width: 60%;
  border: none;
  margin-top: 5px;
  margin-left: 3rem;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
}
.button:hover {
  background: #005596;
}


.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  /* backdrop-filter: blur(8px); 
    -webkit-backdrop-filter: blur(8px); */
  justify-content: center;
}




